@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*::selection {
  background-color: #f44a25;
  color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

p {
  color: #1b1f297e;
  font-size: 0.9rem;
  line-height: 1.9;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h2 {
  color: #1B1F29;
}

.divider {
  width: 52px;
  height: 4px;
  background-color: #f44a25;
}

section {
  padding: 5rem 0;
}

section>h2 {
  text-align: center;
  font-size: 2.9rem;
}

section>.divider {
  margin: 0 auto;
  margin-bottom: 2.6rem;
}

.text {
  font-size: 0.9rem;
  color: rgba(27, 31, 41, 0.8);
  font-weight: 600;
}

.container {
  width: 93%;
  margin: 0 auto;
}

.btn {
  background-color: #f44a25;
  color: #ffffff;
  padding: 12px 18px;
  cursor: pointer;
  border: 2px solid #f44a25;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #f44a25;
  color: #f44a25;
}

main {
  background: linear-gradient(rgba(18, 9, 22, 0.767), rgba(18, 9, 22, 0.767)), url(/images/About-Page/Main-img.jpg);
  width: 100%;
  height: 65vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

main>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 3%;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ffffff3a;
}

main>header>.social-media-icon {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  width: 40%;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
}

main>header>.social-media-icon>.icons>i {
  cursor: pointer;
  padding: 0 5px 0 0;
}

main>header>.social-media-icon>.icons>i:hover {
  color: #ffffff;
}

main>header>.social-media-icon>.left-links {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

main>header>.social-media-icon>.left-links>li>a {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  transition: all .5s ease;
}

main>header>.social-media-icon>.left-links>li>a:hover {
  color: #ffffff;
}

main>header>.social-media-icon>.left-links>li>a.active {
  color: #ffffff;
}

main>header .vip--group {
  display: flex;
  align-items: center;
  width: 41%;
  justify-content: space-between;
}

main>header .vip--group>a {
  color: #ffffff;
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  font-weight: 600;
  transition: all .4s ease;
}

main>header .vip--group>a:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1B1F29;
}

main>header .vip--group>.right_links {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

main>header .vip--group>.right_links>li>a {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  transition: all .5s ease;
}

main>header .vip--group>.right_links>li>a:hover {
  color: #ffffff;
}

main>header .vip--group>.right_links>li>a.active {
  color: #ffffff;
}

main>header .menu {
  color: #ffffff;
  display: none;
  font-size: 1.1rem;
}

main>header .menu:active {
  border: 1px dotted #ffffff;
}

main>header .menu>.hamburgur {
  cursor: pointer;
}

main .hero-section {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  max-width: 73%;
  margin: 2rem auto 0 auto;
  height: 100vh;
}

main .hero-section>h1 {
  margin-top: 4rem;
  font-size: 4rem;
  color: #ffffff;
}

main .sider-bar {
  background-color: #ffffff;
  width: 95%;
  padding: 20px;
  right: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 40px 0 20px rgba(27, 31, 41, 0.5);
  transform: translateX(100%);
  transition: transform .3s ease-in-out;
}

main .sider-bar>.links {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main .sider-bar>.links>li>a {
  color: rgba(27, 31, 41, 0.5);
  cursor: pointer;
  font-size: 0.9rem;
  transition: all .5s ease;
}

main .sider-bar>.links>li>a:hover {
  color: #1B1F29;
}

main .sider-bar .close-sidebar {
  position: absolute;
  top: 20px;
  right: 20px;
}

main .sider-bar .close-sidebar>i {
  font-size: 1.7rem;
  color: rgba(27, 31, 41, 0.5);
  cursor: pointer;
  transition: all .5s ease;
}

main .sider-bar .close-sidebar>i:hover {
  color: #1B1F29;
}

@media screen and (max-width: 900px) {
  main>header>.social-media-icon {
    display: none;
  }

  main>header .vip--group {
    display: none;
  }

  main>header .menu {
    display: block;
  }

  main>.hero-section {
    text-align: center;
  }

  main>.hero-section>h1 {
    font-size: 2.5rem;
    margin-top: 13rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    height: 70vh;
  }

  main>header {
    padding: 1.2rem 3%;
  }

  main>.hero-section {
    max-width: 96%;
  }

  main>.hero-section>h1 {
    font-size: 2rem;
    margin-top: 9rem;
  }
}

section .container .about-row {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section .container .about-row .left-column>img {
  width: 37vw;
}

section .container .about-row>.right-column>.divider {
  margin-bottom: 2.4rem;
}

section .container .about-row>.right-column>.about-text>h2 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

section .container .about-row>.right-column>.about-text>.text {
  width: 60%;
  padding-bottom: 0;
}

section .container .about-row>.right-column>.about-text>p {
  padding: 1rem 0;
}

section .container .about-row>.right-column>.about-text .details>.text {
  padding-left: 25px;
  font-weight: 400;
  position: relative;
  width: 70%;
  line-height: 1.7;
}

section .container .about-row>.right-column>.about-text .details>.text::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background-color: #dadada;
  border-radius: 50%;
  left: -2px;
  top: 5px;
}

section .container .about-row>.right-column .counter-box {
  margin-top: 3rem;
  border-top: 1px solid rgba(27, 31, 41, 0.2);
  padding: 20px;
  display: flex;
  gap: 1rem;
}

section .container .about-row>.right-column .counter-box>.couner {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

section .container .about-row>.right-column .counter-box>.couner>.number {
  font-size: 4rem;
  color: #f44a25;
  font-weight: 700;
}

section .container .about-row>.right-column .counter-box>.couner>.text {
  font-size: 1.1rem;
  width: 60%;
  line-height: 1.5;
  font-weight: 600;
}

section .container .title-container {
  padding: 9rem 0 2rem 0;
}

section .container .title-container>h2 {
  font-size: 3rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  color: rgba(27, 31, 41, 0.4);
}

section .container .title-container>.logos {
  padding-top: 8rem;
  text-align: center;
}

section .container .title-container>.logos>h4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  padding-bottom: 1.1rem;
}

section .container .title-container>.logos>.logos-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

section .container .experience-row {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

section .container .experience-row>.left-column {
  width: 75%;
}

section .container .experience-row>.left-column>.divider {
  margin-bottom: 2.5rem;
}

section .container .experience-row>.left-column .experience-text>h2 {
  font-size: 3rem;
  padding-bottom: 1.2rem;
}

section .container .experience-row>.left-column .experience-text>.text {
  padding-bottom: 1rem;
}

section .container .experience-row>.right-column {
  margin-top: 2rem;
}

section .container .experience-row>.right-column .marketing-box {
  display: flex;
  gap: 2rem;
  padding: 20px;
  border-bottom: 1px solid rgba(27, 31, 41, 0.2);
}

section .container .experience-row>.right-column .marketing-box>span {
  color: #f44a25;
  font-weight: 700;
  font-size: 1.6rem;
}

section .container .experience-row>.right-column .marketing-box>.description>h4 {
  font-size: 1.5rem;
}

section .container .experience-row>.right-column .marketing-box>.description>p {
  padding-top: 0.7rem;
}

@media screen and (max-width: 900px) {
  section .container {
    width: 96%;
  }

  section .container .about-row {
    gap: 3rem;
    grid-template-columns: 1fr;
  }

  section .container .about-row .left-column>img {
    width: 100%;
  }

  section .container .about-row .right-column>.about-text>h2 {
    font-size: 1.9rem;
  }

  section .container .about-row .right-column>.about-text>.text {
    width: 100%;
  }

  section .container .about-row .right-column>.about-text .details>.text {
    line-height: 2;
    width: 100%;
  }

  section .container .about-row .right-column>.about-text .details>.text::before {
    top: 7px;
    left: 1px;
  }

  section .container .about-row .right-column .counter-box {
    justify-content: space-around;
  }

  section .container .about-row .right-column .counter-box .couner .number {
    font-size: 3rem;
  }

  section .container .about-row .right-column .counter-box .couner>.text {
    width: 100%;
    font-size: 0.9rem;
  }

  section .container .title-container>h2 {
    font-size: 2rem;
  }

  section .container .experience-row {
    grid-template-columns: 1fr;
  }

  section .container .experience-row>.left-column {
    width: 100%;
  }

  section .container .experience-row>.right-column .marketing-box {
    display: block;
    padding-left: 0;
  }

  section .container .experience-row>.right-column .marketing-box .description>h4 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  section .container {
    width: 96%;
  }

  section .container .about-row {
    grid-template-columns: 1fr;
  }

  section .container .about-row .left-column>img {
    width: 100%;
  }

  section .container .about-row>.left-column>img {
    width: 96vw;
    margin: 0 auto;
  }

  section .container .about-row .right-column .counter-box {
    gap: 1rem;
  }

  section .container .about-row .right-column .counter-box .couner .number {
    font-size: 10vw;
  }

  section .container .about-row .right-column .counter-box .couner>.text {
    width: 100%;
    font-size: 4vw;
  }

  section .container .title-container>h2 {
    font-size: 1.5rem;
  }
}

section {
  overflow: hidden;
}

section .banner {
  position: relative;
  overflow: hidden;
}

section .banner>.overlay {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
}

section .banner>img {
  width: 100%;
}

section .banner>.video-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f44a25;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all .5s ease;
}

section .banner>.video-play-btn:hover {
  background-color: #ffffff;
}

section .banner>.video-play-btn:hover>a {
  color: #f44a25;
}

section .banner>.video-play-btn>a {
  color: #ffffff;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  section .banner>.video-play-btn {
    width: 50px;
    height: 50px;
  }
}

section>.title {
  text-align: center;
}

section>.title>.divider {
  margin: 0 auto 2rem auto;
}

section>.title>h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

section>.title>p {
  width: 50%;
  margin: 0 auto;
}

section>.container>.testimonial-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 1rem;
  margin-top: 4rem;
}

section>.container>.testimonial-row>.testimonial-column>.quote {
  padding-bottom: 1rem;
}

section>.container>.testimonial-row>.testimonial-column>.quote>i {
  color: #f44a25;
  font-size: 1.6rem;
}

section>.container>.testimonial-row>.testimonial-column>.text {
  font-size: 1.1rem;
  width: 85%;
  font-weight: 600;
  padding-bottom: 1.1rem;
}

section>.container>.testimonial-row .avatar .avatar-image {
  display: flex;
  align-items: center;
  gap: 12px;
}

section>.container>.testimonial-row .avatar .avatar-image>img {
  border-radius: 50%;
}

section>.container>.testimonial-row .avatar .avatar-image>span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(27, 31, 41, 0.5);
}

@media screen and (max-width: 900px) {
  section .title>h2 {
    font-size: 1.9rem;
  }

  section .title>p {
    width: 95%;
  }

  section .container {
    width: 96%;
  }

  section .container>.testimonial-row>.testimonial-column>.text {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  section .container {
    width: 96%;
  }

  section .container>.testimonial-row {
    grid-template-columns: 1fr;
  }
}

.footer-section {
  padding-bottom: 0;
}

.footer-section .newsletter {
  background-color: #f44a25;
  width: 100%;
  padding: 4rem 0;
}

.footer-section .newsletter .container .newsletter-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.footer-section .newsletter .container .newsletter-row .newsletter-col>h2 {
  color: #ffffff;
  font-size: 1.9rem;
  width: 60%;
}

.footer-section .newsletter .container .newsletter-row .newsletter-col>p {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

.footer-section .newsletter .container .newsletter-row .newsletter-col .input-text {
  padding-bottom: 1.2rem;
}

.footer-section .newsletter .container .newsletter-row .newsletter-col .input-text>p {
  color: #ffffff;
  padding-left: 36px;
}

.footer-section .newsletter .container .newsletter-row .newsletter-col .input-group {
  text-align: center;
}

.footer-section .newsletter .container .newsletter-row .newsletter-col .input-group>input {
  padding: 13px;
  width: 30vw;
}

.footer-section .newsletter .container .newsletter-row .newsletter-col .input-group>input::placeholder {
  color: rgba(27, 31, 41, 0.8);
}

.footer-section .newsletter .container .newsletter-row .newsletter-col .input-group>button {
  padding: 12px 0;
  width: 10vw;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}

.footer-section .newsletter .container .newsletter-row .newsletter-col .input-group>button:hover {
  background-color: #ffffff;
  color: #1B1F29;
}

.footer-section footer {
  background-color: #ffffff;
  padding: 2rem 0;
}

.footer-section footer>.container .footer-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
}

.footer-section footer>.container .footer-row .footer-logo-col .footer-logo {
  width: 50px;
  height: 50px;
  padding-bottom: 1.1rem;
}

.footer-section footer>.container .footer-row .footer-logo-col .footer-logo>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-section footer>.container .footer-row .footer-logo-col>p {
  line-height: 1.3;
  font-size: 0.9rem;
}

.footer-section footer>.container .footer-row .footer-logo-col>.footer-social {
  padding-top: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.footer-section footer>.container .footer-row .footer-logo-col>.footer-social>i {
  cursor: pointer;
  color: rgba(27, 31, 41, 0.5);
}

.footer-section footer>.container .footer-row .footer-logo-col>.footer-social>i:hover {
  color: #1B1F29;
}

.footer-section footer>.container .footer-row .footer-col>h3 {
  padding-bottom: 1.4rem;
  font-weight: 400;
}

.footer-section footer>.container .footer-row .footer-col>.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-section footer>.container .footer-row .footer-col>.footer-links>a {
  color: rgba(27, 31, 41, 0.5);
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.footer-section footer>.container .footer-row .footer-col>.footer-links>a:hover {
  color: #1B1F29;
}

.footer-section footer>.container .footer-row .footer-col>.address>p {
  font-size: 0.9rem;
}

.footer-section footer>.copy-rights {
  padding-top: 1.4rem;
  border-top: 1px solid #dadada;
  text-align: center;
}

.footer-section footer>.copy-rights>.links>a {
  color: #1B1F29;
  font-weight: 400;
  font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
  .footer-section .newsletter .container {
    width: 96%;
  }

  .footer-section .newsletter .container .newsletter-row .newsletter-col>h2 {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 1.1rem;
  }

  .footer-section .newsletter .container .newsletter-row .newsletter-col .input-text {
    padding-top: 1rem;
  }

  .footer-section .newsletter .container .newsletter-row .newsletter-col .input-text>p {
    padding-left: 0;
  }

  .footer-section .newsletter .container .newsletter-row .newsletter-col .input-group>button {
    font-size: 0.8rem;
    padding-left: 5px;
    padding-right: 5px;
    width: 12vw;
  }

  .footer-section footer>.container .footer-row {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .footer-section .newsletter .container {
    width: 96%;
  }

  .footer-section .newsletter .container .newsletter-row {
    grid-template-columns: 1fr;
  }

  .footer-section .newsletter .container .newsletter-row .newsletter-col>h2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .footer-section .newsletter .container .newsletter-row .newsletter-col>p {
    text-align: center;
  }

  .footer-section .newsletter .container .newsletter-row .newsletter-col .input-text {
    text-align: center;
  }

  .footer-section .newsletter .container .newsletter-row .newsletter-col .input-group>input {
    width: 100%;
  }

  .footer-section .newsletter .container .newsletter-row .newsletter-col .input-group>button {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  .footer-section footer>.container .footer-row {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-section footer>.container .footer-row .footer-logo-col .footer-logo {
    margin: 0 auto;
  }

  .footer-section footer>.container .footer-row .footer-logo-col>p {
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
  }

  .footer-section footer>.container .footer-row .footer-logo-col>.footer-social {
    display: block;
  }

  .footer-section footer>.container .footer-row .footer-logo-col>.footer-social>i {
    text-align: center;
    margin: 0 auto;
    padding: 0 8px;
  }

  .footer-section footer>.container .footer-row .footer-col>h3 {
    padding-bottom: 1.2rem;
  }

  .footer-section footer>.container .footer-row .footer-col>.footer-links>a {
    font-size: 0.8rem;
  }

  .footer-section footer>.container .footer-row .footer-col>.address>p {
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
  }

  .footer-section footer>.copy-rights>p {
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=about.css.map */